/* button */
.container {
	padding: 2em;
}

.btn1,
.btn2,
.btn1::after,
.btn2::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn,
.btn1 {
	background: none;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #000;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	padding: 1rem;
	position: relative;
	text-transform: uppercase;
}

.btn {
	border: 1px solid black;
}

.btn2 {
	background: none;
	border: 1px solid #000;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	padding: 1rem;
	position: relative;
	text-transform: uppercase;
}

.btn1::before,
.btn1::after {
	background: #fff;
	content: "";
	position: absolute;
	z-index: -1;
}

.btn2::before,
.btn2::after {
	background: #000;
	content: "";
	position: absolute;
	z-index: -1;
}

.btn1:hover {
	color: #000;
}

.btn2:hover {
	color: #fff;
}

.btn1::before,
.btn2::before {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.btn1::after,
.btn2::after {
	background: #eeeeee;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.btn1:hover:after,
.btn2:hover:after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
}

/* palette */
.box {
	width: 295px;
	height: 148px;
}
.pallet {
	width: 295px;
	height: 250px;
}
.active {
	outline: 1px solid black;
}
.colorBox {
	width: 20px;
	height: 20px;
	float: left;
	margin: 1px 1px 0px 0px;
	cursor: pointer;
}
