@font-face {
  font-family: "Maple";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Maplestory\ Light.ttf"), url("./fonts/Maplestory\ OTF\ Light.otf");
}

@font-face {
  font-family: "Maple Light";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Maplestory\ Bold.ttf"), url("./fonts/Maplestory\ OTF\ Bold.otf");
}

* {
  font-family: Maple !important;
}
